body{
  background-color: #000000;
}

a {
  text-decoration:none;
  color: inherit;
}


.header_and_footer{
  display: flex;
  align-items:center;
  background-color: #000000;
  border-color: black;
  border-width: 10px;
  flex-direction: column;
  width: 200px;
  height: 100%;
  justify-content: center;
  position: fixed;
  z-index: -5;
}

.typing{
  color:  #E1E2E2;
  text-align: center;
  font-size: calc(15px + 5vw);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 4.0s steps(40, jump-both);
  z-index: 10;
  ;

  /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}



#categories{
  border-radius: 20px;
  color: #E1E2E2;
  font-family: Assistant,sans-serif;
  margin: 20px;
  padding: 5px;
  text-align: center;
  text-decoration:none;
  vertical-align: middle;
  
}